EE496ChoKevin/EE496Bluemixflow.txt
[{"id":"62f77ead.523a5","type":"http in","z":"fc9e5ca2.ed891","name":"/landing","url":"/landing","method":"get","swaggerDoc":"","x":171.74998474121094,"y":228,"wires":[["adf46c5a.36a16"]]},{"id":"de8b541e.2757b8","type":"http in","z":"fc9e5ca2.ed891","name":"/token_password","url":"/token_password_url","method":"get","swaggerDoc":"","x":239,"y":416,"wires":[["c5945352.2154f"]]},{"id":"2dbccbc0.b57d64","type":"function","z":"fc9e5ca2.ed891","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// // For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":792,"y":233,"wires":[["d9834e3a.09d9c"]]},{"id":"c5945352.2154f","type":"function","z":"fc9e5ca2.ed891","name":"set GENERATED_TOKEN","func":"flow.set(\"GENERATED_TOKEN\",msg.payload.token);\nreturn msg;\n","outputs":1,"noerr":0,"x":469,"y":417,"wires":[["c390369d.179fd8"]]},{"id":"c390369d.179fd8","type":"function","z":"fc9e5ca2.ed891","name":"setHTTPheader","func":"// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"}\n\n// // For HTML use the content type line below:\n//msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":767,"y":417,"wires":[["d9834e3a.09d9c"]]},{"id":"d9834e3a.09d9c","type":"http response","z":"fc9e5ca2.ed891","name":"","x":1042,"y":399,"wires":[]},{"id":"151a70c0.8d34bf","type":"http in","z":"fc9e5ca2.ed891","name":"/token","url":"/token","method":"get","swaggerDoc":"","x":211,"y":509,"wires":[["4148cea.8d62d3"]]},{"id":"4148cea.8d62d3","type":"function","z":"fc9e5ca2.ed891","name":"get GENERATED_TOKEN","func":"msg.payload = flow.get(\"GENERATED_TOKEN\",msg.payload.token);\nreturn msg;\n","outputs":1,"noerr":0,"x":496,"y":517,"wires":[["7413ab1a.853684"]]},{"id":"7413ab1a.853684","type":"function","z":"fc9e5ca2.ed891","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// // For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":511,"wires":[["d9834e3a.09d9c"]]},{"id":"17537ac7.2ac2c5","type":"template","z":"fc9e5ca2.ed891","name":"CorrectTokenPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<script>\nfunction reloadPage(){\n   location.reload()\n}\n\n</script>\n<style>\n\n.interface {\n    padding: 30px;\n}\n\n.button {\n    background-color: #4CAF50; /* Green */\n    border: none;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n    -webkit-transition-duration: 0.4s; /* Safari */\n    transition-duration: 0.4s;\n}\n\n.button1 {\n    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n}\n\n.button1:hover{\n    background: #383;  \n}\n\n</style>\n\n<h1>Hello</h1>\n<h3>Welcome to the Ambient Dynamix Page</h3>\n<img src=\"https://fci.comp.nus.edu.sg/wp-content/uploads/2014/02/ambient_dynamix_project.jpg\" alt=\"Mountain View\" style=\"width:304px;height:228px;\">\n<div class = \"interface\"> \n    <button class=\"button button1\" onclick=\"reloadPage()\">Interface with WebApp</button>\n</div>\n    \n    \n    \n    \n    \n    \n    \n    \n    ","x":589,"y":160,"wires":[["2dbccbc0.b57d64"]]},{"id":"adf46c5a.36a16","type":"switch","z":"fc9e5ca2.ed891","name":"","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"GENERATED_TOKEN","vt":"flow"},{"t":"else"}],"checkall":"true","outputs":2,"x":364,"y":226,"wires":[["17537ac7.2ac2c5"],["c34f64e4.8c60e8"]]},{"id":"c34f64e4.8c60e8","type":"template","z":"fc9e5ca2.ed891","name":"WrongTokenPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>University of Hawaii</h1>\n<img src=\"https://pbs.twimg.com/profile_images/378800000407272260/ba22bcd0d30ae72685a879af66df4552_400x400.jpeg\" alt=\"Mountain View\" style=\"width:304px;height:228px;\">\n<h2> Please Visit the Ambient Computing Lab </h2>","x":590,"y":298,"wires":[["2dbccbc0.b57d64"]]}]
